<section name="Oasis Muscle Relief Shop Preview">
  <div class="container">
    <div class="l-landing-section-padding">
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Shop Preview",
    "class": "sleepless-custom-section",
    "settings": [
    ],
    "presets": [
      {
        "name": "Shop Preview",
        "category": "Sleepless Custom",
        "settings": {
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
